body {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px 1fr 50px;
	grid-template-areas:
		'header header 	header 	header 	header'
		'nav	note	note	note	note'
		'nav	footer	footer	footer	footer';
}

body > header {
	grid-area: header;
}

section {
	grid-area: nav;
}

body > main {
	grid-area: note;
	display: grid;
	grid-template-columns: subgrid;
}

main > article {
	grid-column: 1 / -2;
}

footer {
	grid-area: footer;
}
