body {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px 1fr 50px;
}

body > header {
	grid-column: 1 / -1;
}

section {
	grid-row: span 2;
}

main {
	grid-column: 2 / -1;
}
