/* //Fonts */
@font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/AnonymousPro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/AnonymousPro-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/AnonymousPro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Anonymous Pro';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/AnonymousPro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
	color: #5b5b5b;
	font-family: 'Poppins', Arial, sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #1c75bc;
}

.root {
	background: lavender;
	border: 5px solid rebeccapurple;
	height: 100vh;
	max-height: 100vh;
}

.root > header {
	background-color: honeydew;
	background-image: linear-gradient(90deg, transparent 50%, mintcream 50%);
	background-size: 50px 50px;
	border: 5px solid green;
	padding-left: 30px;
}

.root > header a {
	text-decoration: none;
}

.app section {
	background-color: lemonchiffon;
	background-image: linear-gradient(transparent 50%, lightyellow 50%);
	background-size: 50px 50px;
	border: 1px solid #5b5b5b;
	border: 5px solid gold;
	border-bottom: none;
}

section article,
main.grid article {
	border-bottom: 1px solid lightgrey;
	padding: 5px 15px;
}

section article h2,
main.grid article h2 {
	font-size: 1.2em;
	margin: 0;
	color: #5b5b5b;
}

section article h2 a,
main.grid article h2 a {
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
}

section article time,
main.grid article time {
	margin: 10px 0;
	font-size: 0.8em;
}

.root.app > main {
	background-color: lightcyan;
	border: 5px solid #1c75bc;
}

.app main > article {
	padding: 15px;
	border-top: 1px solid #5b5b5b;
	border-bottom: 1px solid #5b5b5b;
}

.app main article h1 {
	margin: 0;
}

.app main article time {
	color: #747474;
}

.app aside {
	background: linear-gradient(135deg, #fff 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, #fff 25%, transparent 25%),
		linear-gradient(45deg, #fff 25%, transparent 25%);
	background-size: 100px 100px;
	background-color: #ffe7de;

	border: 1px solid #5b5b5b;
	border: 5px solid lightsalmon;
	padding: 15px;
}

.app aside h3 {
	margin: 0;
}

.app aside time {
	font-size: 0.9em;
	margin-top: 10px;
}

.app aside ul {
	margin: 0;
	padding: 0;
}

.app aside li {
	padding: 5px 0;
	list-style-type: none;
}

.app aside li svg {
	height: 1em;
	width: 1em;
	margin-right: 10px;
}

.app aside h3:nth-of-type(2) {
	margin-top: 30px;
}

footer {
	background-color: pink;
	background-image: repeating-linear-gradient(
		45deg,
		transparent,
		transparent 35px,
		mistyrose 35px,
		mistyrose 70px
	);
	border: 5px solid hotpink;
	align-self: center;
	padding-left: 20px;
}
