/* .root {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 100px 1fr 50px;
	grid-template-areas:
		'header header header header header'
		'note note note note note'
		'footer footer footer footer footer';
}

.root.app {
	grid-template-areas:
		'header header header header header'
		'nav note note note sidebar'
		'nav footer footer footer footer';
}

main.grid {
	border: 1px solid #5b5b5b;
	grid-area: note;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fill, 150px);
	grid-gap: 20px;
	padding: 20px;
}

main.grid article {
	border: 1px solid #5b5b5b;
	border-radius: 30px;
	padding: 15px;
}

main.grid article a {
	white-space: normal;
}

div > header {
	grid-area: header;
}

.app section {
	grid-area: nav;
}

.root.app > main {
	display: contents;
	grid-area: note;
}

.root.app > main > article {
	grid-area: note;
}

.root.app > main > aside {
	grid-area: sidebar;
}

footer {
	grid-area: footer;
	justify-self: start;
	width: 300px;
}

footer nav {
	display: flex;
	justify-content: space-between;
} */
